<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汇客</title>
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/font/iconfont.css" rel="stylesheet">
</head>
<body>

<div class="wrap">

    <div class="fenhong">
        <h3><a href=""><i class="iconfont icon-jiantou1"></i></a>分红详情</h3>
    </div>
    
    <div class="fenhong01">
        <div class="shouyi02-tit">
        <p><a href="">分红记录（元）</a></p>
        </div>
        <div class="fenhong01-txt">
            <ul>
                <foreach name="list" item="vo">
                    <li>
                        <div class="fenhong01-txt-l">
                            <img src="__PUBLIC__/Style/User/fwj.sir6.cn/images/20180613185323.png" alt="">
                            <p>您在{$vo.business_name}<span>00.00 00:00</span></p>
                        </div>
                        <div class="fenhong01-txt-r">+{$vo.consume_money}
                        </div>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>

</div>


</body>
</html>
