<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汇客</title>
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/font/iconfont.css" rel="stylesheet">
<script src="__PUBLIC__/Style/User/fwj.sir6.cn/js/jquery-1.8.2.min.js" type="text/javascript"></script>
</head>
<body>

<div class="wrap">
<form action="__MODULE__/Bunsiness/getMoney" method="post">
    <div class="pay">
        <h3><a href="__MODULE__/Index/index"><i class="iconfont icon-jiantou1"></i></a>付款</h3>
    </div>
    
    <div class="pay-nr">
        <div class="form-list02">
            <p>现金支付金额</p>
            <input type="text" name="money" maxlength="50" required="true" aria-required="true">
        </div>
        <div class="form-list02">
            <p>积分抵现金额<span>可用红包：{$list.integral}</span></p>
            <input type="text" name="integral" value="0" maxlength="50" required="true" aria-required="true">
        </div>
        <div class="form-list03">
        <button type="submit">提交</button>
        </div>
    </div>
</form>
</div>
<div class="social_nav">
    <ul>
	 <li class="curr"><a href="" title=""><i class="iconfont icon-wo"></i>我的</a></li>
     <li><a href="" title=""><i class="iconfont icon-shouyi"></i>收益</a></li>
     <li><a href="" title=""><i class="iconfont icon-huodong"></i>活动</a></li>
     <li><a href="" title=""><i class="iconfont icon-scan"></i>商城</a></li>
    </ul>
</div>

</body>
</html>
