<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汇客</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="font/iconfont.css" rel="stylesheet">
</head>
<body>

<div class="wrap">

    <div class="login-top">
        <img src="images/man.jpg" alt="汇客" title="汇客">
        <p>会员登录</p>
    </div>
    <div class="login-nr">
        <div class="form-list">
        	<span><i class="iconfont icon-shouji"></i></span><input type="text" maxlength="50" required="true" placeholder="请输入会员账号" aria-required="true">
        </div>
        <div class="form-list">
        	<span><i class="iconfont icon-suo"></i></span><input type="text" maxlength="50" required="true" placeholder="请输入密码" aria-required="true">
        </div>
        <div class="form-list1">
        <button>立即登录</button>
        </div>
        <p><a href="">注册</a><span><a href="">忘记密码</a></span></p>
    </div>


</div>

</body>
</html>
