<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汇客</title>
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/font/iconfont.css" rel="stylesheet">
<script src="__PUBLIC__/Style/User/fwj.sir6.cn/js/jquery-1.8.2.min.js" type="text/javascript"></script>
</head>
<body>

<div class="wrap">

    <div class="quan">
        <h3><a href=""><i class="iconfont icon-jiantou1"></i></a>优惠券</h3>
    </div>
    
    <div class="quan01">
        <div class="shouyi02-tit">
        <p><a href="">优惠券列表</a></p>
        </div>
        <div class="quan01-txt">
            <div class="quan-bt">
                <ul>
                    <li><a href="#" title="未使用 ">未使用<span>(#)</span></a></li>
                    <li><a href="#" title="使用记录">使用记录<span>(#)</span></a></li>
                    <li><a href="#" title="已过期">已过期<span>(#)</span></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="quan-nr">
                <div class="quan-tp">
                    <ul>
                        <li>
                            <a href="">
                            <div class="quan-tp-l">
                                <img src="__PUBLIC__/Style/User/fwj.sir6.cn/images/juan1.png" alt="">
                                <dl>
                                    <dt>仅可够买本店铺自营商品</dt>
                                    <dd>2018.05.22-2018.05.24</dd>
                                </dl>
                            </div>
                                <a href="__MODULE__/Coupons/useCoupons/business_id/{$vo.business_id}"><div class="quan-tp-r">立即使用</i>
                                    </div>
                                </a>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="quan-tp" style="display:none">
                	<ul>
                    	<li>
                            <div class="quan-tp-l">
                                <img src="images/juan1.png" alt="">
                                <dl>
                                    <dt>仅可够买本店铺自营商品</dt>
                                    <dd>2018.05.22-2018.05.24</dd>
                                </dl>
                            </div>
                            <div class="quan-tp-rr">已使用</i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="quan-tp" style="display:none">
                	<ul>
                    	<li>
                            <div class="quan-tp-l">
                                <img src="images/juan1.png" alt="">
                                <dl>
                                    <dt>仅可够买本店铺自营商品</dt>
                                    <dd>2018.05.22-2018.05.24</dd>
                                </dl>
                            </div>
                            <div class="quan-tp-rr">已过期</i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <script>
            $(".quan-bt li:first").addClass("casehover");
            $(".quan-nr .quan-tp").eq(0).show();
            $(".quan-bt li").hover(function () {
                $(this).addClass("casehover").siblings().removeClass("casehover");
                $(".quan-nr .quan-tp").hide().eq($(this).index()).show();
            }, function () {
            });
            </script> 

        </div>
    </div>

</div>


</body>
</html>
