<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汇客</title>
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/font/iconfont.css" rel="stylesheet">
</head>
<body>

<div class="wrap">

    <div class="share">
        <h3><a href=""><i class="iconfont icon-jiantou1"></i></a>分享有礼</h3>
    </div>
    
    <div class="share01">
    	<ul>
            <foreach name="list" item="vo">
                <li><a href="__MODULE__/Share/showShareDetail/id/{$vo.share_id}"><img src="__PUBLIC__/Style/User/fwj.sir6.cn/images/pic01.png" alt=""></a></li>
           </foreach>
        </ul>
    </div>
        

</div>
<div class="social_nav">
    <ul>
	 <li class="curr"><a href="" title=""><i class="iconfont icon-wo"></i>我的</a></li>
     <li><a href="" title=""><i class="iconfont icon-shouyi"></i>收益</a></li>
     <li><a href="" title=""><i class="iconfont icon-huodong"></i>活动</a></li>
     <li><a href="" title=""><i class="iconfont icon-scan"></i>商城</a></li>
    </ul>
</div>

</body>
</html>
