<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汇客</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="font/iconfont.css" rel="stylesheet">
</head>
<body>

<div class="wrap">

    <div class="shop">
        <h3><a href=""><i class="iconfont icon-jiantou1"></i></a>红包商城</h3>
    </div>
    
    <div class="shop01">
        <div class="shouyi02-tit">
        <p><a href="">热门商品</a></p>
        </div>
        <div class="shop01-txt">
            <ul>
                <li>
                	<a href="">
                    <div class="shop01-txt-l">
                    	<img src="images/shop1.png" alt="">
                        <dl>
                            <dt>歌斐颂纯可可脂巧克力黑巧克力85%高热量</dt>
                            <dd class="price">￥78.00</dd>
                            <dd class="juan">100元代金券1张，可叠加</dd>
                        </dl>
                    </div>
                    <div class="shop01-txt-r"><i class="iconfont icon-arrow-right-copy"></i>
                    </div>
                    </a>
                </li>
                <li>
                	<a href="">
                    <div class="shop01-txt-l">
                    	<img src="images/shop2.png" alt="">
                        <dl>
                            <dt>sk-ii前男友面膜 sk2护肤精华帖 补水保湿6p</dt>
                            <dd class="price">￥740.00</dd>
                            <dd class="juan">100元代金券1张，可叠加</dd>
                        </dl>
                    </div>
                    <div class="shop01-txt-r"><i class="iconfont icon-arrow-right-copy"></i>
                    </div>
                    </a>
                </li>
                <li>
                	<a href="">
                    <div class="shop01-txt-l">
                    	<img src="images/shop3.png" alt="">
                        <dl>
                            <dt>今日特价 杨先生的芡实糕 当天制作当天发货</dt>
                            <dd class="price">￥10.00</dd>
                            <dd class="juan">100元代金券1张，可叠加</dd>
                        </dl>
                    </div>
                    <div class="shop01-txt-r"><i class="iconfont icon-arrow-right-copy"></i>
                    </div>
                    </a>
                </li>
            </ul>

			<div class="n-page">
			<a href="" class="a1">上一页</a> 
			<span>1</span> 
			<a href="">2</a> 
			<a href="">3</a> ..
			<a href="">15</a> 
			<a href="" class="a1">下一页</a>
			</div>
        </div>
    </div>

</div>


</body>
</html>
