<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汇客</title>
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/font/iconfont.css" rel="stylesheet">
</head>
<body>

<div class="wrap">

    <div class="shouyi">
        <div class="shouyi-u">
        <h3><a><i class="iconfont icon-jiantou1" onClick="javascript:history.back(-1)"></i></a>收益统计</h3>
        </div>
        <div class="shouyi-d">
            <h3><span class="span-l"></span>现有红包（元）<span class="span-r"></span></h3>
            <h5>{$list.useIntegral}</h5>
<!--            <p>累计收益（元）...</p>-->
        </div>
    </div>
    
    <div class="shouyi01">
        <div class="shouyi01-l">
            <h3>汇客收益（元）</h3>
            <p>{$list.hkcount}</p>
        </div>
        <div class="shouyi01-r">
        	<h3>本店收益（元）</h3>
            <p>{$list.conut}</p>
        </div>
    </div>
    
    <div class="shouyi02">
        <div class="shouyi02-tit">
        <p><a href="">我的收益（元）</a></p>
        </div>
        <div class="shouyi02-txt">
            <ul>
                <foreach name="list.list" item="vo">
                    <li><p>您在{$vo.business_name}店的总收益为（元）<span>{$vo.users_integral_num}</span></p></li>
                </foreach>
            </ul>
        </div>
    </div>

</div>

</body>
</html>
