<extend name="Layout:Index" />
<block name='content'>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">优惠券</a>
                </li>
                <li class="active">优惠券列表</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    优惠券
                    <small>
                        <i class="icon-double-angle-right"></i>
                        优惠券列表
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">
                                            <label>
                                                图片
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>标题</th>
                                        <th>内容</th>
                                        <th class="hidden-480">过期时间</th>

                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <foreach name="list" item="vo">
                                        <tr>
                                            <td class="center">
                                                <label>
                                                    <img height="50px" src="__ROOT__/Uploads/{$vo.share_pic}">
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>

                                            <td>
                                                <a href="__MODULE__/Shop/updateGoods/id/{$vo.coupons_id}">{$vo.share_title}</a>
                                            </td>
                                            <td>{$vo.share_content}</td>
                                            <td class="hidden-480">
                                                <span class="label label-sm label-warning">{$vo.share_overtime}</span>
                                            </td>

                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                    <!--
                                                                                                    <button class="btn btn-xs btn-info" title="修改">
                                                                                                        <a style="text-decoration:none; color: #ffffff;" href="__MODULE__/Shop/update/id/{$vo.bun_goods_id}"><i class="icon-edit bigger-120"></i></a>
                                                                                                    </button>-->

                                                    <button class="btn btn-xs btn-danger" title="删除">
                                                        <a style="text-decoration:none; color: #ffffff;" href="__MODULE__/share/delShare/id/{$vo.share_id}"><i class="icon-trash bigger-120"></i></a>
                                                    </button>

                                                    <button class="btn btn-xs btn-success" title="查看奖励">
                                                        <a style="text-decoration:none; color: #ffffff;" href="__MODULE__/share/addReward/id/{$vo.share_id}"><i class="icon-ok bigger-120"></i></a>
                                                    </button>

                                                </div>

                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-cog icon-only bigger-110"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																				<span class="blue">
																					<i class="icon-zoom-in bigger-120"></i>
																				</span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																				<span class="green">
																					<i class="icon-edit bigger-120"></i>
																				</span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																				<span class="red">
																					<i class="icon-trash bigger-120"></i>
																				</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                </table>

                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div><!-- /row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->

</block>
</extend>