<extend name="Layout:Index" />
<block name='content'>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">总后台</a>
                </li>

                <li>
                    商家界面
                </li>
                <li class="active">商家列表</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    商家列表
                    <small>
                        <i class="icon-double-angle-right"></i>
                        被激活的商家
                    </small>
                </h1>
            </div><!-- /.page-header -->
            <form action="__MODULE__/Business/getBusinessList" method="post">
                <!-- <legend>Form</legend> -->

                <fieldset>
                    <label>商家登录账号</label>

                    <input type="text"  name="business_account" placeholder="填写商家登录账号">
                    <button type="submit" class="btn btn-sm btn-success">
                        确认查找
                        <i class="icon-arrow-right icon-on-right bigger-110"></i>
                    </button>
                </fieldset>

            </form>
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">
                                            <label>
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>商家名字</th>
                                        <th>标题</th>
                                        <th class="hidden-480">手机号</th>

                                        <th>
                                            <i class="icon-time bigger-110 hidden-480"></i>
                                            分红详情
                                        </th>
                                        <th class="hidden-480">登录账号</th>

                                        <th>操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <foreach name="list.data1" item="vo">
                                        <tr>
                                            <td class="center">
                                                <label>
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>

                                            <td>
                                                <a href="#">{$vo.business_name}</a>
                                            </td>
                                            <td>{$vo.business_title}</td>
                                            <td class="hidden-480">{$vo.business_phone}</td>
                                            <td>{$vo.buniess_bonus}</td>

                                            <td class="hidden-480">
                                                {$vo.business_account}
                                            </td>

                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                                                    <button class="btn btn-xs btn-info">
                                                        <a title="详情信息" style="color: white" href="__MODULE__/Business/getBusinessDetailInfo/id/{$vo.business_id}"><i class="icon-edit bigger-120"></i></a>
                                                    </button>
                                                    <if condition="$vo.business_status eq 2">
                                                        <button class="btn btn-xs btn-warning">
                                                            <a title="禁用" style="color: white" href="__MODULE__/Business/disable/business_id/{$vo.business_id}"><i class="icon-flag bigger-120"></i></a>
                                                        </button>
                                                        <else />
                                                        <button class="btn btn-xs btn-warning">
                                                            <a title="恢复" style="color: green" href="__MODULE__/Business/activation_bun/business_id/{$vo.business_id}"><i class="icon-flag bigger-120"></i></a>
                                                        </button>
                                                    </if>
                                                    <button class="btn btn-xs btn-info">
                                                        <a title="添加以及查看商家所属广告" style="color: white" href="__MODULE__/Business/bunAdveList/business_id/{$vo.business_id}"><i class="icon-fire bigger-120"></i></a>
                                                    </button>

                                                </div>

                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-cog icon-only bigger-110"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																				<span class="blue">
																					<i class="icon-zoom-in bigger-120"></i>
																				</span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																				<span class="green">
																					<i class="icon-edit bigger-120"></i>
																				</span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																				<span class="red">
																					<i class="icon-trash bigger-120"></i>
																				</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </foreach>
                                </table>
				{$page}
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div><!-- /row -->

                    <div class="hr hr-18 dotted hr-double"></div>
                    <h4>商家注册url：<span style="color: #00a0e9">{$list.url}</span></h4>
                    <div class="hr hr-18 dotted hr-double"></div>


                    <div id="modal-table" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header no-padding">
                                    <div class="table-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <span class="white">&times;</span>
                                        </button>
                                        Results for "Latest Registered Domains
                                    </div>
                                </div>

                                <div class="modal-body no-padding">
                                    <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                        <thead>
                                        <tr>
                                            <th>Domain</th>
                                            <th>Price</th>
                                            <th>Clicks</th>

                                            <th>
                                                <i class="icon-time bigger-110"></i>
                                                Update
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>
                                                <a href="#">ace.com</a>
                                            </td>
                                            <td>$45</td>
                                            <td>3,330</td>
                                            <td>Feb 12</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">base.com</a>
                                            </td>
                                            <td>$35</td>
                                            <td>2,595</td>
                                            <td>Feb 18</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">max.com</a>
                                            </td>
                                            <td>$60</td>
                                            <td>4,400</td>
                                            <td>Mar 11</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">best.com</a>
                                            </td>
                                            <td>$75</td>
                                            <td>6,500</td>
                                            <td>Apr 03</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">pro.com</a>
                                            </td>
                                            <td>$55</td>
                                            <td>4,250</td>
                                            <td>Jan 21</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="modal-footer no-margin-top">
                                    <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                        <i class="icon-remove"></i>
                                        Close
                                    </button>

                                    <ul class="pagination pull-right no-margin">
                                        <li class="prev disabled">
                                            <a href="#">
                                                <i class="icon-double-angle-left"></i>
                                            </a>
                                        </li>

                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>

                                        <li>
                                            <a href="#">2</a>
                                        </li>

                                        <li>
                                            <a href="#">3</a>
                                        </li>

                                        <li class="next">
                                            <a href="#">
                                                <i class="icon-double-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
</block>
</extend>
