<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分享有礼</title>
    <link  rel="stylesheet"   type="text/css"  href="__PUBLIC__/Style/User/App/css/style7.css"/>
    <!--引入vue.js-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div style="width: 100%" id="top">
        <div class="zhuangtailan"></div>
        <div class="huike" onclick="javascript:history.back(-1);"><b>商品详情</b></div>
    </div>
    <div>
        {$list.bun_goods_desc}
    </div>
</body>

<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 30 * (clientWidth / 320) + 'px';
                };

        // Abort if browser does not support addEventListener
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</html>