<!DOCTYPE HTML>
<html>
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汇客</title>
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Style/User/fwj.sir6.cn/font/iconfont.css" rel="stylesheet">
</head>
<body>
<form action="__MODULE__/Users/doRegister" method="post">
<div class="wrap">

    <div class="reg-top">
        <div class="reg-man"><img src="__PUBLIC__/Style/User/fwj.sir6.cn/images/logo.png" alt="汇客" title="汇客"></div>
        <p>上传头像</p>
    </div>
    <div class="reg-nr">
        <input name="users_name" value="等待完善" type="hidden" maxlength="40" required="true" placeholder="请输入密码" aria-required="true">
        <input name="users_sex" value="0" type="hidden" maxlength="40" required="true" placeholder="请输入密码" aria-required="true">
        <div class="form-list">
        	<span><i class="iconfont icon-shouji"></i></span><input name="users_phone" type="text" maxlength="50" required="true" placeholder="请输入手机号" aria-required="true">
    </div>
        <div class="form-list">
        	<span><i class="iconfont icon-anquan"></i></span><input name="users_pass" type="password" maxlength="40" required="true" placeholder="请输入密码" aria-required="true">
        </div>
        <div class="form-list">
        	<span><i class="iconfont icon-suo"></i></span><input name="agen_users_pass" type="password" maxlength="50" required="true" placeholder="请确认密码" aria-required="true">
        </div>
        <div class="form-list1">
        <button type="submit">立即注册</button>
        </div>
    </div>

</div>
</form>
</body>
</html>
