<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汇客登录</title>
    <link  rel="stylesheet"   type="text/css"  href="__PUBLIC__/Style/User/App/css/style3.css"/>
    <!--引入vue.js-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        .info{
            color: #0000cc;
            font-size: 80px;
            margin-left: 200px;
            margin-top: 50px;

        }
        .info ul li{
            list-style: none;
            font-size: 40px;
            color: #0d3349;
        }
        .sub{
            margin-top: 88px;
        }
    </style>
</head>
<body>
<form  action="{$list.url}" method="post">
    <div id="top">
        <div class="top_img"></div>
        <a href="#">&lt;返回</a><b class="title" style="margin-left: 280px">支付</b>
    </div>
    <div class="info">
        <center>
            <ul style="margin-left: -30%;">
                <li>本次消费：{$list.money}</li>
                <li>抵用分红：{$list.inMon}</li>
                <li>实际消费：{$list['money']-$list['inMon']}</li>
            </ul>
        </center>
    </div>
    <input class="sub" style=" background-color: #009DFF; color: white; width: 200px;height: 100px; font-size: 40px;margin-left: 38%" type="submit" value="确认支付" >
</form>

<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 30 * (clientWidth / 320) + 'px';
                };

        // Abort if browser does not support addEventListener
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>